#methodik-didaktik{
    background: #f0f0f0;
    padding: 10%;
    color:#0f0f0f
}
#methodik-didaktik-carousel{
    display: none;
}
.methodik-didaktik-title{
    font-size: 3.3em;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 80px;
}
.methodik-didaktik-title span{
    display: block;
}
.methodik-didaktik-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    grid-gap:20px;
}

@media screen and (max-width: 992px) {
    .methodik-didaktik-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 576px) {
    .methodik-didaktik-container{
        display: none;
    }
    #methodik-didaktik-carousel{
        display:block;
    }
}